* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* beginning of header */
nav {
    background-color: blue;
}

#nav-logo,
#nav-search {
    height: 100px;
}

#nav-logo h1 {
    font-size: 35px;
    color: white;
}

#nav-search > * {
    padding: 8px;
    border-radius: 8px;
    outline: none;
}

#nav-search input {
    min-width: 200px;
    margin-right: 20px;
}

#nav-search button {
    font-weight: 700;
    background-color: white;
    color: blue;
}
/* end of header */

/* beginning of main */
main {
    padding: 50px 0 50px 0;
}

.album {
    width: 250px;
    margin: 25px;
    border-radius: 10px;
    overflow: hidden;
    background-color: grey;
}

.container-albums .album {
    cursor: pointer;
}

.album-cover {
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid grey;
}

.album-cover img {
    height: 250px;
    display: block;
    object-fit: cover;
}

.info-album {
    margin-left: 25px;
}

.info-album > *:not(.go-back) {
    margin-left: 30px;
}

.info-album .go-back {
    display: block;
    font-size: 30px;
    cursor: pointer;
}

.info-album .album-title {
    margin-top: 35px;
    margin-bottom: 5px;
}

.info-album .tracks li {
    padding: 10px 0;
}
/* end of main */
